<div id="changelog-panel" class="changelog-panel is-closed">
  <button
    id="changelog-backdrop"
    class="changelog-panel__backdrop"
    aria-label="Close recent changes panel"
    type="button"
  ></button>

  <aside
    class="changelog-panel__drawer"
    role="dialog"
    aria-modal="true"
    aria-label="Recent Changes"
  >
    <div class="changelog-panel__header">
      <div class="changelog-panel__title-row">
        <button
          id="changelog-title"
          type="button"
          class="changelog-panel__title"
          aria-label="Scroll changelog to top"
        >
          Recent Changes
        </button>
        <div class="changelog-panel__actions">
          <button
            id="changelog-scroll-top"
            type="button"
            class="changelog-panel__action"
            aria-label="Scroll to top"
          >
            To Top
          </button>
          <button
            id="close-changelog"
            type="button"
            class="changelog-panel__close"
            aria-label="Close panel"
          >
            ×
          </button>
        </div>
      </div>
      <div class="changelog-panel__filters">
        <button type="button" data-changelog-type-toggle="New Item" class="changelog-filter" aria-pressed="true">
          New Item
        </button>
        <button
          type="button"
          data-changelog-type-toggle="Item Updated"
          class="changelog-filter"
          aria-pressed="true"
        >
          Item Updated
        </button>
        <button
          type="button"
          data-changelog-type-toggle="Item Removed"
          class="changelog-filter"
          aria-pressed="true"
        >
          Item Removed
        </button>
        <button
          type="button"
          data-changelog-type-toggle="Image Updated"
          class="changelog-filter"
          aria-pressed="true"
        >
          Image Updated
        </button>
        <button
          type="button"
          data-changelog-type-toggle="Recipe Updated"
          class="changelog-filter"
          aria-pressed="true"
        >
          Recipe Updated
        </button>
      </div>
    </div>

    <div id="changelog-scroll" class="changelog-panel__scroll">
      <p class="changelog-panel__empty">Loading recent changes…</p>
    </div>
  </aside>
</div>
